<?xml version="1.0"?>
<!--
/**
 * Copyright © Performance, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Interface preferences -->
    <preference for="Performance\Review\Api\ConfigurationCheckerInterface" type="Performance\Review\Model\ConfigurationChecker" />
    <preference for="Performance\Review\Api\Data\IssueInterface" type="Performance\Review\Model\Issue" />
    <preference for="Performance\Review\Api\PhpConfigurationAnalyzerInterface" type="Performance\Review\Model\PhpConfigurationAnalyzer" />
    <preference for="Performance\Review\Api\MysqlConfigurationAnalyzerInterface" type="Performance\Review\Model\MysqlConfigurationAnalyzer" />
    <preference for="Performance\Review\Api\RedisConfigurationAnalyzerInterface" type="Performance\Review\Model\RedisConfigurationAnalyzer" />
    
    <!-- Command configuration -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="performance_review_generate" xsi:type="object">Performance\Review\Console\Command\PerformanceReviewCommand</item>
            </argument>
        </arguments>
    </type>
    
    <!-- Virtual types for specific loggers -->
    <virtualType name="Performance\Review\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Performance\Review\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="Performance\Review\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/performance_review.log</argument>
        </arguments>
    </virtualType>
    
    <!-- Logger injection -->
    <type name="Performance\Review\Model\ConfigurationChecker">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\DatabaseAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\ModuleAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\ThirdPartyAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\CodebaseAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\FrontendAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\IndexerCronAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\ApiAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\PhpConfigurationAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\MysqlConfigurationAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Model\RedisConfigurationAnalyzer">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
    
    <type name="Performance\Review\Console\Command\PerformanceReviewCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Performance\Review\Logger</argument>
        </arguments>
    </type>
</config>